<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.phaseii.rxm.roomies"
          android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera2"/>

    <uses-permission android:name="com.phaseii.rxm.roomies.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="comi.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission
            android:name="android.permission.ACCESS_WIFI_STATE"
            android:required="true"/>
    <uses-permission
            android:name="android.permission.CHANGE_WIFI_STATE"
            android:required="true"/>
    <uses-permission
            android:name="android.permission.INTERNET"
            android:required="true"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <permission
            android:name="com.phaseii.rxm.roomies.permission.C2D_MESSAGE"
            android:protectionLevel="signature"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/Theme.Roomies">
        <activity
                android:name=".activity.AddRoomActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.phaseii.rxm.roomies.activity.HomeScreenActivity"/>
        </activity>
        <activity
                android:name=".activity.SplashActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.Roomies">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.HomeScreenActivity"
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.Roomies"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".activity.LoginActivity"
                android:label="@string/title_activity_login"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.Roomies">
        </activity>
        <activity
                android:name=".activity.ProfileActivity"
                android:label="@string/title_activity_profile"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.Roomies"
                android:windowSoftInputMode="adjustPan">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.phaseii.rxm.roomies.activity.HomeScreenActivity"/>
        </activity>

        <receiver android:name=".background.RoomiesReceiver">
            <intent-filter>
                <action android:name=".background.RoomiesReciever.ROOMIES_ALARM"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".background.BootAndUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
                android:name=".background.AlarmService"
                android:enabled="true"/>

        <provider
                android:name=".database.provider.RoomExpensesProvider"
                android:authorities="com.phaseii.rxm.roomies.database.provider.RoomExpensesProvider"
                android:exported="false"/>
        <provider
                android:name=".database.provider.RoomDetailsProvider"
                android:authorities="com.phaseii.rxm.roomies.database.provider.RoomDetailsProvider"
                android:exported="false"/>
        <provider
                android:name=".database.provider.RoomStatsProvider"
                android:authorities="com.phaseii.rxm.roomies.database.provider.RoomStatsProvider"
                android:exported="false"/>
        <provider
                android:name=".database.provider.UserDetailsProvider"
                android:authorities="com.phaseii.rxm.roomies.database.provider.UserDetailsProvider"
                android:exported="false"/>
        <provider
                android:name=".database.provider.RoomUserMapProvider"
                android:authorities="com.phaseii.rxm.roomies.database.provider.RoomUserMapProvider"
                android:exported="false"/>

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <activity
                android:name=".activity.ManageRoomActivity"
                android:label="@string/title_activity_manage_room"
                android:parentActivityName=".activity.HomeScreenActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.phaseii.rxm.roomies.activity.HomeScreenActivity"/>
        </activity>
    </application>

</manifest>