<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.phaseii.rxm.roomies" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/roomies_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Roomies" >
        <activity
            android:name=".activity.GetStartedWizard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.HomeScreenActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
        </activity>

        <provider
            android:name=".providers.RoomExpenseProvider"
            android:authorities="com.phaseii.rxm.roomies.providers.RoomExpenseProvider"
            android:exported="false" />
        <provider
            android:name=".providers.UserCredentialsProvider"
            android:authorities="com.phaseii.rxm.roomies.providers.UserCredentialsProvider"
            android:exported="false" />
	    <provider
		    android:name=".providers.MiscellaneousProvider"
		    android:authorities="com.phaseii.rxm.roomies.providers.MiscellaneousProvider"
		    android:exported="false" />
    </application>

</manifest>